body {background-color: rgb(206, 206, 206); }
h1 {   text-align: center;
    font-size: 50px }
    p {font-size: 20px;}
    h2 { font-size: 30px}
    h3 {font-size: 25px}
  
    ul {
       
        font-size: 20px
      }
      ul.hieno-lista {
        font-size: 20px;
        list-style-type: circle;
        }

        .grid-container {
          display: grid;
          width: 80%;
          grid-template-columns: 20% 80%;
          grid-template-rows: 60px 60px;
          grid-gap: 3px;
          background-color: #000000;
          padding: 3px;   
          justify-content: center;
          
          
        }
        
        .grid-container > div {
          background-color: rgb(255, 255, 255);
          text-align: center;
          padding: 5px 0;
          font-size: 30px }
          
    
    
